@import "tailwindcss";


:root {
  --branco-acinzentado: #f8fafc;
  --laranja-apagado: #E9C5A8; 
  --verde-fraco: #22C55E; 
  --verde-forte: #16A34A; 
  --laranja-forte: #C2410C; 
  --laranja-padrao: #EA580C; 

}

body {
  line-height: 1.2; 
}

@theme {

  --text-title-lg : 36px ;
  --text-title:24px;
  --text-subtitle: 18px ;
  --text-subtitle-sm : 14px;

  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --max-w-box: 1440px;

  --color-branco-acinzentado : var(--branco-acinzentado);
  --color-apagado : var(--laranja-apagado);
  --color-importante : var(--laranja-forte);
  --color-principal : var(--laranja-padrao); 
  --color-background : var(--branco-acinzentado); 
  --color-botao-primary : var(--laranja-padrao); 
  --color-botao-secundary : var(--branco-acizentado);
  --color-stroke : var(--laranja-forte);


  --rounded-sm : 4px; 
  --border-1 : 1px;
  






}

.shadow-ui  { box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.2);}





